body {
    margin: 0;
    /* background-color: lightpink; */
    height: 100vh;
    background: url('./bananas.png') repeat 0 0;
    animation: animate-bg 2s infinite linear;
}

@keyframes animate-bg {
    100% {
        background-position: 50px 50px;
    }
}

header {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 10px auto 40px auto;
    /* margin-bottom: 40px; */
    /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); */
    height: 50px;
    /* font-size: 45px; */
    font-size: 60px;
    color: white;
    /* color: lightpink; */
    font-weight: bold;
    width: 60%;
    background-color: lightpink;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gridContainer {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 5px solid lightpink;
    margin: 30px auto;
    display: grid;
    box-sizing: content-box;
}

button {
    cursor: pointer;
}

#btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid lightpink;
    color: lightpink;
    background-color: white;
    margin-top: -10px;
}

#btn:hover {
    border: none;
    background-color: lightpink;
    color: white;
    font-weight: bold;
}

#refreshGrid {
    border: 2px solid lightpink;
    border-radius: 5px;
    background-color: white;
    color: lightpink;
    height: 30px;
    width: 150px;
    font-size: 15px;
}

#refreshGrid:hover {
    background-color: lightpink;
    color: white;
    font-weight: bold;
}