body {
    margin: 0;
    background-color: lightpink;
}

header {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 40px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    height: 50px;
    font-size: 45px;
    color: white;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gridContainer {
    width: 400px;
    height: 400px;
    background-color: white;
    
    border: 1px solid black;
    margin: 50px auto;
    display: grid;
}

/* #refreshGrid {
    margin: 0 auto;
} */